@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #c7dde0;
    background-size: cover;
    justify-content: center;
    height: 100%;
    font-size: 100%;

}

.search
{
    margin-top:70px;
    width: 60%;
    margin-top:70px;
    margin-left:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search button
{
    border: none;
    height: 40px;
    background-color: #34e42e;
    width:150px;
    margin-top: 20px;
    border-radius: 0px 5px 5px 0px;
}

.search button:hover
{

    background: #1bc718;

}



.search .dropdown
{
    background-color: #90bccc ;
    color: black;
    border: none;
    padding:5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom:-70px;
    margin-right: 15px;
}

.dropdown option
{
    border: none;
}


a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: none; }
a:active { color: black; text-decoration: none; }

.custom-select
{
    position: relative;
}




.dropdown
{
    padding:5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom:-70px;
}




.container{
    border-radius: 10px;
    padding-top: 25%;
    background-color: aliceblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 30cm;
    min-height: 100%;
    text-align:justify;
    margin-top:7%;
    margin-left: 200px;
    padding:20px;


    display: flex;
    align-items:baseline;
    justify-content: center;
    flex-wrap: wrap;

}



.Hcont {
    background-color: white;
    height: 380px;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 0px 0px 10px 0px;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
}



.housepic{
    background-color: grey;
    width: 100%;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0px 0px;

}

.houseName{

    padding-left: 10px;
    padding-top: 20px;
    font-size: 15px;
}

.status
{
    color: rgb(27, 189, 27);
}

.fa-bed, .fa-bath, .fa-wifi
{
    opacity: 0.5;
}



.MyLink{
    text-align: center;
}

.MyLink button{
    background-color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color: cornflowerblue;
    width: 5cm;
    height:1cm;
}

.MyLink button:hover{
    background-color: #007bff;
    color: white;
    border: none;
    width: 5cm;
    height:1cm;
}

.MyLink button:active{
    background-color: #007bff;
    color: white;
    border: none;
    width: 5cm;
    height:1cm;
}




.C button{
    bottom: 20px;
    position: fixed;
    right: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    width: 90px;
    height: 90px;
    color: #000000;
    border:none;
    border-radius: 49px;
    box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    overflow: hidden;
    z-index: 3;
}

.C button:hover{
    background : #E1D7D7;
}

.C button:active {
    background : #C1C1C1;
}

.C button__text,
.C button__icon {
    align-items:center;
    padding : 1px 10px;
    height:100%;
}