body {
    background-image: url('https://i.pinimg.com/736x/9c/d3/a7/9cd3a7847066e13f1e400d93d004281d--home-painting-ideas-interior-painting.jpg');
    display: grid;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 100vh;
    font-size: 100%;
    font-family: Georgia, serif;
}

.tintedbg2{
    width: 60rem;
    height: 30rem;
    box-shadow: 0 0 1rem 0 rgba( 0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
    margin-bottom: 20px;
}

.tintedbg2:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    z-index: -1;
}
.topic{
    background-color: aliceblue;
    color:cornflowerblue;
    text-align: left;
    padding: 15px 15px 15px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    margin-top: 100px;
}
.colk{
    margin-top: 20px;
}
.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    cursor: pointer;
}
.imagex{
    background-color: cornflowerblue;
    width: 25rem;
    height: 28rem;
    z-index: 1;
    margin: 20px auto auto 15px;
    padding: 60px 10px;
    border-radius: 12px;
}

.mytable{
    background-color: white;
    width: 31rem;
    height: 28rem;
    position: absolute;
    top:20px;
    right:15px;
    overflow: auto;
}

.mybtn {
    z-index: 3;
    float: right;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mybtn button {
    display:inline-block;
    cursor: pointer;
    border:none;
    background-color: white;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 4px 2px;
}

.mybtn button:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}

table,td {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

table {
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

