@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Verdana,sans-serif;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.navbar p {
  float: left;
  color: black;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 16px 16px;
  background-color: inherit;
  font-family: Verdana,sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: pink;
}
.navbar a.active {
  background-color: #666;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


body {
 /*background-image: url('img1.jpg');*/
  background: #c7dde0;
  height:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:auto;
}
table, td, th {  
  border: 1px solid #999;
  
}

table {
  border-collapse: collapse;
  width: 100%;
}

th{
  padding: 8px;
  font-size: 13px;
}

td {
  padding: 15px;
  text-align: left;
}
.hello{
	width:1%;
}
.container {
  max-width:auto;
  position: relative;
  background: #F9F9F9;
  padding: 25px;
  margin:100px 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius:0px;
  font-family: Verdana,sans-serif;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  background-color:  black; 
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin:auto;
  cursor: pointer;
  font-family: Verdana,sans-serif;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float:center;
  font-size:13px;
}
.button1:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: orange;
	color: black;
}
a{
	text-decoration:none;
	color:white;
}