@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    /*background-image: url('img1.jpg');*/
    background:#c7dde0;
    height:auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:auto;
}

.container {
    padding: 29px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color:white;
    max-width: 500px;
    max-height: 1100px;
    margin: 50px auto;
    color:black;
    font-size:15px;
}
.container h2{
    text-align:center;
}
.container img{
    width: 220px;
    height: 165px;
    top: 30px;
    left: calc(21% - 50px);
    margin:auto 120px;
}
.button {
    background-color: #0e6d69;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float:right;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0e5d64;
    color: white;
}
a{
    text-decoration:none;
    color:white;
}
input[type=text], select, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password], select, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width:40%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}